<section>
  <div class="carousel__container">
    <div class="carousel__track">
      <!-- elementos originales del carousel aquí -->
      <div class="carousel__card"><img src="./images/carousel-1.jpg"></div>

      <div class="carousel__card"><img src="./images/carousel-2.jpg"></div>

      <div class="carousel__card"><img src="./images/carousel-3.jpg"></div>

      <div class="carousel__card"><img src="./images/carousel-4.jpg"></div>

      <div class="carousel__card"><img src="./images/carousel-5.jpg"></div>

      <div class="carousel__card"><img src="./images/carousel-6.jpg"></div>
      
      <div class="carousel__card"><img src="./images/carousel-7.jpg"></div>

      <div class="carousel__card"><img src="./images/carousel-8.jpg"></div>

      <div class="carousel__card"><img src="./images/carousel-9.jpg"></div>

      <div class="carousel__card"><img src="./images/carousel-10.jpg"></div>

      <!-- copiarlos para que funcione el loop (si son pocos copiarlos varias veces) -->

      <div class="carousel__card"><img src="./images/carousel-1.jpg"></div>

      <div class="carousel__card"><img src="./images/carousel-2.jpg"></div>

      <div class="carousel__card"><img src="./images/carousel-3.jpg"></div>

      <div class="carousel__card"><img src="./images/carousel-4.jpg"></div>

      <div class="carousel__card"><img src="./images/carousel-5.jpg"></div>

      <div class="carousel__card"><img src="./images/carousel-6.jpg"></div>
      
      <div class="carousel__card"><img src="./images/carousel-7.jpg"></div>

      <div class="carousel__card"><img src="./images/carousel-8.jpg"></div>

      <div class="carousel__card"><img src="./images/carousel-9.jpg"></div>

      <div class="carousel__card"><img src="./images/carousel-10.jpg"></div>
      
    </div>
  </div>
</section>