<section>
  <div class="carousel__container">
    <div class="carousel__track">
      <!-- elementos originales del carousel aquí -->
      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-1.jpg?height=200&as=avif ,
        ./images/carousel-1.jpg?height=400&as=avif 2x,
        ./images/carousel-1.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-1.jpg?height=400" alt="tres cocteles sobre una mesa">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-2.jpg?height=200&as=avif ,
        ./images/carousel-2.jpg?height=400&as=avif 2x,
        ./images/carousel-2.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-2.jpg?height=400" alt="copa sobre fondo verde">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-3.jpg?height=200&as=avif ,
        ./images/carousel-3.jpg?height=400&as=avif 2x,
        ./images/carousel-3.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-3.jpg?height=400" alt="dos naranjas partidas por la mitad sobre fondo verde">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-4.jpg?height=200&as=avif ,
        ./images/carousel-4.jpg?height=400&as=avif 2x,
        ./images/carousel-4.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-4.jpg?height=400" alt="una piña con dos cocos sobre una tabla de madera sobre fondo rosa">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-5.jpg?height=200&as=avif ,
        ./images/carousel-5.jpg?height=400&as=avif 2x,
        ./images/carousel-5.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-5.jpg?height=400" alt="mojito sobre fondo negro">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-6.jpg?height=200&as=avif ,
        ./images/carousel-6.jpg?height=400&as=avif 2x,
        ./images/carousel-6.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-6.jpg?height=400" alt="media mandarina sobre fondo rojo">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-7.jpg?height=200&as=avif ,
        ./images/carousel-7.jpg?height=400&as=avif 2x,
        ./images/carousel-7.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-7.jpg?height=400" alt="varios mojitos repedidos sobre fondo azul">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-8.jpg?height=200&as=avif ,
        ./images/carousel-8.jpg?height=400&as=avif 2x,
        ./images/carousel-8.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-8.jpg?height=400" alt="coctel con naranjas sobre fondo amarillo">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-9.jpg?height=200&as=avif ,
        ./images/carousel-9.jpg?height=400&as=avif 2x,
        ./images/carousel-9.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-9.jpg?height=400" alt="piña colada sobre fondo oscuro">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-10.jpg?height=200&as=avif ,
        ./images/carousel-10.jpg?height=400&as=avif 2x,
        ./images/carousel-10.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-10.jpg?height=400" alt="mojito sobre una mesa de madera, acompañado de frutas, fondo oscuro">
      </picture>


      <!-- copiarlos para que funcione el loop (si son pocos copiarlos varias veces) -->

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-1.jpg?height=200&as=avif ,
        ./images/carousel-1.jpg?height=400&as=avif 2x,
        ./images/carousel-1.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-1.jpg?height=400" alt="tres cocteles sobre una mesa">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-2.jpg?height=200&as=avif ,
        ./images/carousel-2.jpg?height=400&as=avif 2x,
        ./images/carousel-2.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-2.jpg?height=400" alt="copa sobre fondo verde">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-3.jpg?height=200&as=avif ,
        ./images/carousel-3.jpg?height=400&as=avif 2x,
        ./images/carousel-3.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-3.jpg?height=400" alt="dos naranjas partidas por la mitad sobre fondo verde">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-4.jpg?height=200&as=avif ,
        ./images/carousel-4.jpg?height=400&as=avif 2x,
        ./images/carousel-4.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-4.jpg?height=400" alt="una piña con dos cocos sobre una tabla de madera sobre fondo rosa">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-5.jpg?height=200&as=avif ,
        ./images/carousel-5.jpg?height=400&as=avif 2x,
        ./images/carousel-5.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-5.jpg?height=400" alt="mojito sobre fondo negro">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-6.jpg?height=200&as=avif ,
        ./images/carousel-6.jpg?height=400&as=avif 2x,
        ./images/carousel-6.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-6.jpg?height=400" alt="media mandarina sobre fondo rojo">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-7.jpg?height=200&as=avif ,
        ./images/carousel-7.jpg?height=400&as=avif 2x,
        ./images/carousel-7.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-7.jpg?height=400" alt="varios mojitos repedidos sobre fondo azul">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-8.jpg?height=200&as=avif ,
        ./images/carousel-8.jpg?height=400&as=avif 2x,
        ./images/carousel-8.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-8.jpg?height=400" alt="coctel con naranjas sobre fondo amarillo">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-9.jpg?height=200&as=avif ,
        ./images/carousel-9.jpg?height=400&as=avif 2x,
        ./images/carousel-9.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-9.jpg?height=400" alt="piña colada sobre fondo oscuro">
      </picture>

      <picture class="carousel__card">
        <source 
        srcset="./images/carousel-10.jpg?height=200&as=avif ,
        ./images/carousel-10.jpg?height=400&as=avif 2x,
        ./images/carousel-10.jpg?height=600&as=avif 3x"
        type="image/avif"
        >
        <img src="./images/carousel-10.jpg?height=400" alt="mojito sobre una mesa de madera, acompañado de frutas, fondo oscuro">
      </picture>
      
    </div>
  </div>
</section>